

body {
    font-family: 'Cutive Mono', monospace;
}

header,
nav,
#about-container,
#main-wrapper  {
    text-align: center;
}


header {
    height: 200px;
    margin-bottom: 50px;
}
#logo-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

#logo {
    width: 150px;
    height: auto
}


#navigation-links-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0 10px 0;
}

@media (min-width: 600px) {
    #navigation-links-container {
        flex-wrap: nowrap;
    }
    .dropdown {
        flex-basis: 30%;
    }
    .link {
        padding-bottom: 0;
    }
    #logo {
        width: 200px;
        height: auto
    }


}

#porfolio-images-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.work-image {
    margin: 30px;

}

.portfolio-img{
    width: 100%;
    height: auto;
}

#about-container {
    height: 600px;
}

footer {
    background-color: dimgray;
}

/* dropdown section */

.dropdown {
    flex-basis: 300px;
    display: inline-block;
    position: relative; /* so we can later position the dropdown-menu */
    margin: 0;
    padding: 0;
    text-align: center;

}

.dropdown-menu {
    position: absolute;
    left: 0;
    text-align: left;
    top:calc(100% + .50rem);
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
    pointer-events: none;
    z-index: 2;

}

.dropdown-menu.visible {
    opacity: 1;
    pointer-events: auto;
    background-color: red;
}

.dropdown > .link:focus + .dropdown-menu {
    opacity: 1;
    transform: translateY(0px);

}

.list-items {
    font-size: large;
    border: none;
    font-family: inherit;
    cursor: pointer;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: white;
}

.link-button {
    padding-bottom: 30px;

}

.link {
    width: 150px;
    border: none;
    background-color: white;
    font-size: x-large;
    font-family: 'Cutive Mono', monospace;
    padding-bottom: 30px;
    text-decoration: none;
    color: black;
}

.dropdown-menu {
    width: 100%;
    margin: 0;
    padding: 0;
}



.list-item {
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
    color: black;
}

.dropdown > .list-item:focus,
.list-item:hover {
    background-color: ghostwhite;
}